
 <footer id="colophon" class="site-footer">


    <div class="footer-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    <h5 class="newsletter-title">Đăng ký để nhận thông báo</h5>
                    <span class="newsletter-marketing-text">...và nhận được<strong> ưu đãi sớm nhất</strong></span>
                </div>
                <div class="col-xs-12 col-sm-5">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Nhập email">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Đăng ký</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom-widgets">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-md-push-5">
                    <div class="columns">
                        <aside id="nav_menu-2" class="widget clearfix widget_nav_menu">
                            <div class="body">
                                <h4 class="widget-title">Tìm nhanh</h4>
                                <div class="menu-footer-menu-1-container">
                                    <ul id="menu-footer-menu-1" class="menu">
                                        <li class="menu-item"><a href="single-product.html">Mainboard</a></li>
                                        <li class="menu-item"><a href="single-product.html">CPU</a></li>
                                        <li class="menu-item"><a href="single-product.html">Ram</a></li>
                                        <li class="menu-item"><a href="single-product.html">VGA</a></li>
                                        <li class="menu-item"><a href="single-product.html">SSD</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div><!-- /.columns -->

                    <div class="columns">
                        <aside id="nav_menu-3" class="widget clearfix widget_nav_menu">
                            <div class="body">
                                <h4 class="widget-title">&nbsp;</h4>
                                <div class="menu-footer-menu-2-container">
                                    <ul id="menu-footer-menu-2" class="menu">
                                        <li class="menu-item"><a href="single-product.html">HDD</a></li>
                                        <li class="menu-item "><a href="single-product.html">PSU</a></li>
                                        <li class="menu-item"><a href="single-product.html">CASE</a></li>
                                        <li class="menu-item "><a href="single-product.html">FAN</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div><!-- /.columns -->

                    <div class="columns">
                        <aside id="nav_menu-4" class="widget clearfix widget_nav_menu">
                            <div class="body">
                                <h4 class="widget-title">Chăm sóc khách hàng</h4>
                                <div class="menu-footer-menu-3-container">
                                    <ul id="menu-footer-menu-3" class="menu">
                                        <li class="menu-item"><a href="single-product.html">Tài khoản</a></li>
                                        <li class="menu-item"><a href="single-product.html">Kiểm tra đơn hàng</a></li>		
                                        <li class="menu-item"><a href="single-product.html">Dịch vụ khách hàng</a></li>
                                        <li class="menu-item"><a href="single-product.html">Chính sách đổi trả</a></li>
                                        <li class="menu-item"><a href="single-product.html">FAQs</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div><!-- /.columns -->

                </div><!-- /.col -->

                <div class="footer-contact col-xs-12 col-sm-12 col-md-5 col-md-pull-7">
                    <div class="footer-logo">
                        <img src="assets/images/logo1.png" />
                    </div><!-- /.footer-contact -->

                    <div class="footer-call-us">
                        <div class="media">
                            <span class="media-left call-us-icon media-middle"><i class="ec ec-support"></i></span>
                            <div class="media-body">
                                <span class="call-us-text">Đường dây nóng 24/7!</span>
                                <span class="call-us-number">(800) 8001-8588, (0600) 874 548</span>
                            </div>
                        </div>
                    </div><!-- /.footer-call-us -->


                    <div class="footer-address">
                        <strong class="footer-address-title">Thông tin liên lạc</strong>
                        <address>163 Ngô Gia Tự P.2 Q.10 TP.HCM</address>
                    </div><!-- /.footer-address -->

                    <div class="footer-social-icons">
                        <ul class="social-icons list-unstyled">
                            <li><a class="fa fa-facebook" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
                            <li><a class="fa fa-twitter" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
                            <li><a class="fa fa-pinterest" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
                            <li><a class="fa fa-linkedin" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
                            <li><a class="fa fa-google-plus" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
                            <li><a class="fa fa-tumblr" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
                            <li><a class="fa fa-instagram" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
                            <li><a class="fa fa-youtube" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
                            <li><a class="fa fa-rss" href="#"></a></li>
                            </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="copyright-bar">
        <div class="container">
            <div class="pull-left flip copyright">&copy; <a href="http://demo2.transvelo.in/html/electro/">CPU-VN</a> - Bản quyền</div>
            <div class="pull-right flip payment">
                <div class="footer-payment-logo">
                    <ul class="cash-card card-inline">
                        <li class="card-item"><img src="assets/images/logo-payment/images.jfif" alt="" width="52" ></li>
                        <li class="card-item"><img src="assets/images/logo-payment/Paypal.png" alt="" width="52"></li>
                        <li class="card-item"><img src="assets/images/logo-payment/images.png" alt="" width="52"></li>
                        <li class="card-item"><img src="assets/images/logo-payment/images (1).png" alt="" width="52"></li>
                        <li class="card-item"><img src="assets/images/logo-payment/1200px-MasterCard_Logo.svg.pngư" alt="" width="52"></li>
                    </ul>
                </div><!-- /.payment-methods -->
            </div>
        </div><!-- /.container -->
    </div><!-- /.copyright-bar -->
</footer><!-- #colophon -->