<div *ngIf="products$ | async as products" id="content" class="site-content" tabindex="-1">
    <div class="container">
        <nav class="woocommerce-breadcrumb">
            <a routerLink="" routerLinkActive="router-link-active" >Trang chủ</a>
            <span class="delimiter">
                <i class="fa fa-angle-right"></i>
            </span>
            <a [routerLink]="['/product/category', products?.items[0]?.category.id]" routerLinkActive="router-link-active" >{{products?.items[0]?.category?.name}}</a>
        </nav>

        <div id="primary" class="content-area">
            <main id="main" class="site-main">

                <section>
                    <header>
                        <h2 class="h1">{{products?.items[0]?.category?.name}}</h2>
                    </header>
                    <div class="woocommerce columns-4">
                        <ul class="product-loop-categories">
                            <li *ngFor="let product of products.items" class="product-category product">
                                <a [routerLink]="['/product', product.id]" routerLinkActive="router-link-active" >
                                    <img [src]="product?.image" class="img-responsive" alt="">
                                    <h3>{{product.name}}<mark class="count">(2)</mark></h3>
                                </a>
                                <div class="price-add-to-cart">
                                    <span class="price">
                                        <span class="electro-price">
                                            <ins><span class="amount"> {{product.priceSale}}</span></ins>
                                            <del><span class="amount">{{product.price}}</span></del>
                                            <span class="amount"> </span>
                                        </span>
                                    </span>
                                    <a rel="nofollow" (click)="addToCart(product)" class="button add_to_cart_button">Add to cart</a>
                                </div><!-- /.price-add-to-cart -->
                            </li><!-- /.item -->
                        </ul>
                        <div>
                            <button (click) ="firstPage()" mat-button> First</button>
                            <button (click) ="previousPage()" mat-button> Previous</button>
                            <button (click) ="nextPage()" mat-button> Next</button>
                            <button (click) ="lastPage()" mat-button> Last</button>
                        </div>
                    </div>
                </section>
            </main><!-- /.site-main -->
        </div><!-- /.content-area -->
    </div>
</div>

