<div id="page" class="hfeed site">
    <a class="skip-link screen-reader-text" href="#site-navigation">Skip to navigation</a>
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

    <div class="top-bar">
        <div class="container">
            <nav>
                <ul id="menu-top-bar-left" class="nav nav-inline pull-left animate-dropdown flip">
                    <li class="menu-item animate-dropdown"><a title="Welcome to Worldwide Electronics Store" href="#">Chào mừng đến CPU-VN</a></li>
                </ul>
            </nav>

            <nav>
                <ul id="menu-top-bar-right" class="nav nav-inline pull-right animate-dropdown flip">
                    <li class="menu-item animate-dropdown"><a title="Track Your Order" href="track-your-order.html"><i class="ec ec-transport"></i>Kiểm tra đơn hàng</a></li>
                    <!-- <li class="menu-item animate-dropdown"><a title="Shop" href="shop.html"><i class="ec ec-shopping-bag"></i>Shop</a></li> -->
                    <li class="menu-item animate-dropdown"><a title="My Account" routerLink="user" routerLinkActive="router-link-active" ><i class="ec ec-user"></i>{{ user ?  'Xin chao' : 'Tai khoan' }}</a></li>
                </ul>
            </nav>
        </div>
    </div><!-- /.top-bar -->
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>