<header id="masthead" class="site-header header-v2">
  <div class="container">
    <div class="row">
      <!-- ============================================================= Header Logo ============================================================= -->
      <div class="header-logo">
        <a routerLink="" routerLinkActive="router-link-active"  class="header-logo-link" style="margin-top: -25px;">
          <img src="assets/images/logo.png" style="height: 100px;" />
        </a>
      </div>
      <!-- ============================================================= Header Logo : End============================================================= -->

      <div class="primary-nav animate-dropdown">
        <div class="clearfix">
          <button
            class="navbar-toggler hidden-sm-up pull-right flip"
            type="button"
            data-toggle="collapse"
            data-target="#default-header"
          >
            ☰
          </button>
        </div>

        <div class="collapse navbar-toggleable-xs" id="default-header">
          <nav>
            <ul id="menu-main-menu" class="nav nav-inline yamm">
              <li class="menu-item animate-dropdown">
                <a title="Home v1" href="home.html">Trang chủ</a>
              </li>
              <li class="menu-item animate-dropdown">
                <a title="About Us" [routerLink]="['/about.html']" routerLinkActive="router-link-active"  href="about.html">Về chúng tôi</a>
              </li>
              <li class="menu-item animate-dropdown">
                <a title="Blog v3" href="blog-v3.html">Blog </a>
              </li>
              <li class="menu-item">
                <a title="Contact Us" href="#">Liên hệ chúng tôi</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="header-support-info">
        <div class="media">
          <span class="media-left support-icon media-middle"
            ><i class="ec ec-support"></i
          ></span>
          <div class="media-body">
            <span class="support-number"
              ><strong>Hổ trợ</strong> (+800) 856 800 604</span
            ><br />
            <span class="support-email">Email: info@electro.com</span>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
</header>
<!-- #masthead -->


